<div class="h-full w-full flex flex-col items-center gap-y-6">
  <div class="text-2xl font-bold">Usu치rios</div>

  <%= form_with(url: users_path, method: "get", class: "flex items-center gap-x-2", remote: true) do %>
    <%= text_field_tag(:search, params[:search], class: "p-2 border rounded-md", id: "search-input", placeholder: "Pesquisar por usu치rio(s)") %>
    <%= submit_tag("Pesquisar", class: "px-3 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition-colors duration-300 shadow-md") %>
  <% end %>
  
  <div id="users" class="flex flex-wrap justify-center gap-y-4 gap-x-4">
    <% if @users.present? %>
      <% @users.each do |user| %>
        <%= render user %>
      <% end %>
    <% else %>
      <div class="text-lg text-gray-600">Nenhum usu치rio encontrado.</div>
    <% end %>
  </div>
  
  <button class="px-3 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 transition-colors duration-300 shadow-md">
    <%= link_to "Criar usu치rio", new_user_path %>
  </button>
</div>